@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: rgb(68, 68, 68);
}
main {
  padding-top: 30px;
}
